/*Spin Animation*/
.container {
    position: relative;
    width: 200px;
    height: 200px;
}
/*Taylor swift code spin and the css for it */
.spin-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
    transition: transform 1s ease-in-out;
}

.spin-image:active {
    transform: translate(-50%, -50%) rotate(360deg);
}


/*Code Profile Card*/

:root {
    --font-family-primary: "Monteserrat", sans-serif;
    --font-family-secondary: "Fraunces", serif;
    --font-weight-reg: 500;
    --font-weight-bold: 700;
}

body {
    background-color: hsl(30, 38%, 92%);
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-reg);
    font-size: 0.875rem;
    display: grid;
    place-content: center;
    margin: 1rem;
}

h1 {
    color: hsl(212, 21%, 14%);
    font-size: 2rem;
    font-family: var(--font-family-secondary);
    line-height: 1;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
}

.flex-group {
    display: flex;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    align-items: center;
}

.profile {
    background-color: hsl(0, 0%, 100%);
    border-radius: 4%;
    overflow: hidden;
    display: grid;
    max-width: 600px;
}
@media (min-width: 600px) {
    .profile {
    grid-template-columns: 1fr 1fr;
    }
}
.content {
    padding: 1rem;
    display: grid;
}

.detail {
    letter-spacing: 5px;
}

p {
    font-size: 14px;
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-bold);
    color: hsl(228, 10%, 48%);
}

.button {
    background-color: hsl(158, 36%, 37%);
    border-radius: 0.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: white;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border: 0;
    gap: 0.5rem;
}

button:is(:hover, :focus) {
    background-color: hsl(158, 36%, 20%);
}

.button[data-icon="git"]::before {
    content: '';
    width: 15px;
    height: 16px;
    background-image: url(images/icon.svg)
}

/*Box Size*/
  *,
  *::before,
  *::after {
box-sizing: border-box;
}

/*Remove Margin*/
  * {
margin: 0;
}

html,body {
height: 100%;
}

/*Smoother Font*/
body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
}

/*Improve Media*/
img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}

/*Text Overflow Prevention*/
p, h1, h2, h3, h4, h5, h6 
{
overflow-wrap: break-word;
}





